.header
          .logo
            img(src="img/logo.png" width="40px")
          .login
            - if (req.isAuthenticated())
                span(style="display:inline-block; padding:10px 30px;")
                  a(href="/dashboard") dashboard  
                span
                  a(href="/logout") logout 
               
          
            -else    
                a(href="/auth/facebook") login with facebook 
            


block main
  h1= title
  hr

block content
  - var action = '/articles'
  - action += article.isNew? '' : '/' + article.id

  .row
    .span7
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data")

        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!article.isNew)
          input(type="hidden", name="_method", value="PUT")

        .control-group
          label.control-label(for='title') Title
          .controls
            input#title.input-xlarge(type='text', name="title", value=article.title, placeholder='Enter the title')

        .control-group
          label.control-label(for='title') isbn
          .controls
            input#title.input-xlarge(type='text', name="isbn", value=article.title, placeholder='Enter the isbn')
      
        .control-group
          label.control-label(for='file') Image
          .controls
            input#file(type='file', name="image[]")

        .control-group
          label.control-label(for='desc') Description
          .controls
            textarea#desc.input-xlarge(type='text', rows="5", name="body", placeholder='Enter the article description')
        
        .control-group
          label.control-label(for='value') Value
          .controls
            input#value.input-xlarge(type='text',  name="value", placeholder='Enter product value')
        
        h1 Looking for
        hr
        .control-group
          label.control-label(for='isbn') ISBN*
          .controls
            input#isbn.input-xlarge(type='text', rows="5", name="lookingForIsbn", placeholder='Enter product value')
        
        .control-group
          label.control-label(for='author') Author*
          .controls
            input#author.input-xlarge(type='text', rows="5", name="lookingForAuthor", placeholder='Enter product value')
        
        .control-group
          label.control-label(for='keywords') Keywords*
          .controls
            input#keywords.input-xlarge(type='text', rows="5", name="lookingForKeywords", placeholder='Enter product value')

        //- .control-group
        //-   label.control-label(for='tags') Tags
        //-   .controls
        //-     input#tags(type='text', name="tags", value=article.tags, placeholder='Enter the tags')

        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/articles', title="cancel") Cancel

    .span5
      - if (!article.isNew && article.image && article.image.files && article.image.files.length)
        img(src=article.image.cdnUri + "/mini_" + article.image.files[0])
